@model db.Books

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookCoverUrl)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.BookCoverUrl)" width="100px" />
        </dd>

    </dl>
    <div>
        @using (Html.BeginForm("Order", "Store", FormMethod.Post))
        {
            @Html.Hidden("id", @Model.BookId);
            @Html.Label("购买数量：");
            @Html.TextBox("Num");
            @Html.Label("邮寄地址：");
            @Html.TextBox("Address");
            <input type="submit" value="Submit" />
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
