@model db.Books

@{
    ViewBag.Title = "details";
}

<h2>details</h2>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookCoverUrl)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.BookCoverUrl)" width="100px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "edit", new { id = Model.BookId }) |
    @Html.ActionLink("返回列表", "Index")
</p>
